
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Page 1</title>

</head>

<body>

  <header class="Encabezado">
    <section class="alinearLis posicion">
      <nav class="navbar navbar-expand-md navbar-dark marg">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto estiloVar">
            <li class="nav-item">
              <a style="color: white;" class="nav-link boton-menu" routerLink="/inicio">HOME</a>
            </li>
            <li class="nav-item">
              <a style="color: white; margin-left: 10px;" class="nav-link boton-menu" href="about.html">PERFIL</a>
            </li>



          </ul>
        </div>
      </nav>

    </section>
    <div class="container">
      <div class="row justify-content-center align-items-center vh-100">
        <div class="text-md-center margT">
          <h1 class="display-1" id="titulo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>

        </div>
      </div>
    </div>

  </header>


  <section style="background-color:white" class="alinearCu">


    <div class="container-sm shadow-sm" id="cuerpo">

      <section class="contenedor sobre-nosotros " *ngFor="let seccion of secciones" >

        <div [ngSwitch]="subtitulo">
          <div >
            <H3 *ngSwitchCase="seccion.titulo == 'null' ">{{seccion.titulo}}------------------</H3>

          </div>





            <div style="align-items: center; column-count: 2;" class="contenedor-sobre-nosotros">

              <div class="contenido-textos">

                <div *ngSwitchCase="seccion.imgSec == 'null'" >
                  <img src= {{seccion.imgSec}} alt="" class="imagen-about-us">
                  <p >{{seccion.imgSec}}</p>
                </div>


                <p *ngSwitchCase="seccion.parrafo == 'null'">{{seccion.parrafo}}</p>



              </div>

            </div>
          </div>


      </section>




    </div>

  </section>





</body>

</html>



