*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.Encabezado{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



}
.estiloVar{
  font-family: fantasy;
  font: oblique bold 120% cursive;

}
.marg{
  margin-right: 15%;
  margin-left: 15%;

}


body{
  background-color: white;
 background-image: url(../../../assets/img/pexels-nathan-martins-4120834.jpg);
 background-attachment: fixed;
  background-size: 100% 100% ;
  justify-content: center;
  align-items: center;

}

#titulo{
  font-family: fantasy;
  font-weight: bolder;

  font-size: 45px;
  letter-spacing: 3px;
  color: white;


}
.margT{
  text-align: center;
  padding-top: 10%;
  width: 100%;

}


#cuerpo{
  background-color: rgb(255, 255, 255);
  padding-top: 40px;
  margin: auto;
  padding-left: 0%;
  padding-right: 0%;
  text-align: center;
}
.alinearCu{
  text-align: center;
}

.alinearLis{

  background-color:black;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.5;
  width: 100%;


}
.boton-menu:hover{
  transform: scale(1.2);

}

.colorSub{
  color: white;
}
.estiloVar{
  font-family: fantasy;
  font: oblique bold 120% cursive;

}

/*About us*/
.contenedor-sobre-nosotros{

  justify-content: space-evenly;
  padding-top: 30px;
  background-color: white;

}
.contenido-textos{

  width: 100%;
  align-items: center;
}
.contenido-textos img{

  width: 90%;
  align-items: center;
  padding-bottom: 10px;
}


.contenido-textos p{
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-weight: 300;
  font-size: 20px;
  font-family: serif;

}

hr {
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 20px;
}
p{
  background-color: rgba(255, 255, 255, 0.048);
   border-radius: 10px 10px;
}
h3{
  padding-top: 20px;
  padding-bottom: 20px;
}
h4{
  padding-top: 15px;
  padding-bottom: 15px;
}
.just-img{
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: tomato;

}
.contenido-textos div p{
  text-align: center;
}
.contenido-textos div{
  padding-top: 20px;
  padding-bottom: 20px;
}
