<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Page 1</title>

</head>

<body>

  <header class="Encabezado">
    <section class="alinearLis posicion">
      <nav class="navbar navbar-expand-md navbar-dark marg">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto estiloVar">
            <li class="nav-item">
              <a style="color: white;" class="nav-link boton-menu" routerLink="/inicio">HOME</a>
            </li>
            <li class="nav-item">
              <a style="color: white; margin-left: 10px;" class="nav-link boton-menu" href="about.html">PERFIL</a>
            </li>

          </ul>
        </div>
      </nav>

    </section>
    <div class="container">
      <div class="row justify-content-center align-items-center vh-100">
        <div class="text-md-center margT">
          <h1 class="display-1" id="titulo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>

        </div>
      </div>
    </div>

  </header>


  <section style="background-color:white" class="alinearCu">


    <div class="container-sm shadow-sm" id="cuerpo">

      <section class="contenedor sobre-nosotros ">

        <H3>SECCION 1</H3>

        <div style="align-items: center; column-count: 2;" class="contenedor-sobre-nosotros">

          <div class="contenido-textos">
            <div >
              <img src="../../assets/img/Mes-de-la-psicologia-online.jpg" alt="" class="imagen-about-us">
              <p >Imagen 1</p>
            </div>

            <p>El presente blog tiene como objetivo informar acerca de la eficacia de los
              tratamientos basados en
              Mindfulness en los trastornos de ansiedad generalizada en la adultez,
              Para ello se realizó una revisión bibliográfica de tipo retrospectiva, también se redactó un análisis
              crítico de los resultados obtenidos en la revisión de la literatura.
              Los resultados sugieren que los tratamientos basados en Mindfulness es un método viable y eficaz para el
              trastorno de ansiedad generalizada en personas que se encuentran en la adultez, además de generar
              cambios positivos y brindar beneficios a aquellos que hagan uso del mismo
              El presente blog tiene como objetivo informar acerca de la eficacia de los
              tratamientos basados en
              Mindfulness en los trastornos de ansiedad generalizada en la adultez,
              Para ello se realizó una revisión bibliográfica de tipo retrospectiva, también se redactó un análisis
              crítico de los resultados obtenidos en la revisión de la literatura.
              Los resultados sugieren que los tratamientos basados en Mindfulness es un método viable y eficaz para el
              trastorno de ansiedad generalizada en personas que se encuentran en la adultez, además de generar
              cambios positivos y brindar beneficios a aquellos que hagan uso del mismo
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime assumenda rem hic blanditiis accusamus?
              Culpa illo nulla hic ipsa, veniam laboriosam quae, vel, id reiciendis officia blanditiis. Quidem sint
              nesciunt explicabo vero obcaecati in, optio asperiores voluptates architecto aspernatur quo quaerat fugiat
              voluptatibus neque beatae accusamus aperiam numquam sit. Nesciunt ea temporibus error quos ullam voluptas,
              esse omnis porro ducimus cumque voluptatum provident eligendi inventore aut qui architecto quo tempora
              itaque. Eligendi asperiores quos harum tempore quidem dolorum voluptas voluptate sapiente dignissimos,
              tempora sit sunt, cupiditate facere eaque praesentium? Maiores inventore porro a saepe sunt rerum
              similique dolorum exercitationem excepturi!</p>

            <h4>TITULO</h4>

            <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor eaque voluptas repellendus blanditiis
              sunt harum similique et reiciendis, est dicta earum illo ipsa necessitatibus magni rerum nemo quia dolorum
              quisquam in? Debitis, eos, dicta magnam reprehenderit reiciendis explicabo ex, iste neque qui tempore
              natus mollitia. Repellendus, itaque reprehenderit! Cupiditate, obcaecati.</P>

              <div>
                <img src="../../../assets/img/psicologia-2017_02_10_183334.jpg" alt="" class="imagen-about-us">
                <p >Imagen 2</p>
              </div>


            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum beatae eos necessitatibus suscipit
              praesentium nisi saepe, vero laborum in tenetur minus culpa ex rem consectetur molestias veniam nobis fuga
              excepturi omnis consequuntur voluptates explicabo nam mollitia! Saepe odit veniam adipisci voluptatum,
              provident aperiam molestias voluptates enim voluptas dolore temporibus, alias quisquam libero rem!
              Accusamus pariatur minima, modi est maxime perspiciatis fugit. Voluptate est, animi laboriosam esse enim
              non eveniet excepturi tenetur porro provident libero impedit quod quaerat nostrum eligendi minus nihil
              molestiae. Mollitia necessitatibus labore quos, quidem odit vero esse. Quod, consequuntur! Beatae magni
              cupiditate temporibus voluptates, aliquid quisquam?</P>

          </div>

        </div>

        <H3>SECCION 2</H3>

        <div style="align-items: center; column-count: 2;" class="contenedor-sobre-nosotros">

          <div class="contenido-textos">

            <p>El presente blog tiene como objetivo informar acerca de la eficacia de los
              tratamientos basados en
              Mindfulness en los trastornos de ansiedad generalizada en la adultez,
              Para ello se realizó una revisión bibliográfica de tipo retrospectiva, también se redactó un análisis
              crítico de los resultados obtenidos en la revisión de la literatura.
              Los resultados sugieren que los tratamientos basados en Mindfulness es un método viable y eficaz para el
              trastorno de ansiedad generalizada en personas que se encuentran en la adultez, además de generar
              cambios positivos y brindar beneficios a aquellos que hagan uso del mismo
              El presente blog tiene como objetivo informar acerca de la eficacia de los
              tratamientos basados en
              Mindfulness en los trastornos de ansiedad generalizada en la adultez,
              Para ello se realizó una revisión bibliográfica de tipo retrospectiva, también se redactó un análisis
              crítico de los resultados obtenidos en la revisión de la literatura.
              Los resultados sugieren que los tratamientos basados en Mindfulness es un método viable y eficaz para el
              trastorno de ansiedad generalizada en personas que se encuentran en la adultez, además de generar
              cambios positivos y brindar beneficios a aquellos que hagan uso del mismo
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime assumenda rem hic blanditiis accusamus?
              Culpa illo nulla hic ipsa, veniam laboriosam quae, vel, id reiciendis officia blanditiis. Quidem sint
              nesciunt explicabo vero obcaecati in, optio asperiores voluptates architecto aspernatur quo quaerat fugiat
              voluptatibus neque beatae accusamus aperiam numquam sit. Nesciunt ea temporibus error quos ullam voluptas,
              esse omnis porro ducimus cumque voluptatum provident eligendi inventore aut qui architecto quo tempora
              itaque. Eligendi asperiores quos harum tempore quidem dolorum voluptas voluptate sapiente dignissimos,
              tempora sit sunt, cupiditate facere eaque praesentium? Maiores inventore porro a saepe sunt rerum
              similique dolorum exercitationem excepturi!</p>

            <h4>TITULO</h4>

            <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor eaque voluptas repellendus blanditiis
              sunt harum similique et reiciendis, est dicta earum illo ipsa necessitatibus magni rerum nemo quia dolorum
              quisquam in? Debitis, eos, dicta magnam reprehenderit reiciendis explicabo ex, iste neque qui tempore
              natus mollitia. Repellendus, itaque reprehenderit! Cupiditate, obcaecati.</P>


            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum beatae eos necessitatibus suscipit
              praesentium nisi saepe, vero laborum in tenetur minus culpa ex rem consectetur molestias veniam nobis fuga
              excepturi omnis consequuntur voluptates explicabo nam mollitia! Saepe odit veniam adipisci voluptatum,
              provident aperiam molestias voluptates enim voluptas dolore temporibus, alias quisquam libero rem!
              Accusamus pariatur minima, modi est maxime perspiciatis fugit. Voluptate est, animi laboriosam esse enim
              non eveniet excepturi tenetur porro provident libero impedit quod quaerat nostrum eligendi minus nihil
              molestiae. Mollitia necessitatibus labore quos, quidem odit vero esse. Quod, consequuntur! Beatae magni
              cupiditate temporibus voluptates, aliquid quisquam?</P>
              <div>
                <img src="../../../assets/img/depositphotos_163801048-stock-photo-modern-head-sign-logo-of.jpg" alt=""
              class="imagen-about-us">
              <p>Imagen 3</p>
              </div>


            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laboriosam, quod dicta enim minus
              architecto, aut consequuntur omnis ad vel ducimus dolorum laudantium vero corrupti assumenda odit
              repellendus deleniti quos. Vero numquam dolore iusto dolorem, quod reprehenderit omnis consequatur
              cupiditate dolores nihil, sapiente excepturi consequuntur ipsam accusamus, ab sint quasi ratione ducimus!
              Repudiandae molestias voluptatum distinctio doloremque exercitationem nulla ut quas esse modi ipsa nostrum
              officia, blanditiis illo. Excepturi consequuntur animi eius necessitatibus sed esse perspiciatis est,
              culpa nam ipsa odio corrupti, neque placeat ullam harum dolore molestiae officiis suscipit nostrum
              deleniti laudantium. Et quaerat, perspiciatis ea nulla aliquid quasi.</p>

          </div>

        </div>

      </section>




    </div>

  </section>



</body>

</html>


<router-outlet></router-outlet>
