<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset = "utf-8" >
    <title>Page 1</title>

</head>
<body >

    <header class="Encabezado">
      <section class="alinearLis posicion">
          <nav class="navbar navbar-expand-md navbar-dark marg">
              <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                  <ul class="navbar-nav mr-auto estiloVar">
                      <li class="nav-item active ">
                          <a class="nav-link" href="#">Start Bootstrap</a>
                      </li>
                  </ul>
              </div>
              <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto estiloVar">
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/inicio">HOME</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="about.html">ABOUT</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class='fab fa-github'
                                  style='font-size:25px; color:white'></i></a>
                      </li>
                  </ul>
              </div>
          </nav>

      </section>

  </header>
    <div class="container" >
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-sm-4 text-md-left" >
              <h1 class="display-1" id="titulo"  >Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h1>
              <h2 class="h6" >LA AMBICIÓN ES EL PRIMER PASO HACIA EL</h2>



            </div>
        </div>
    </div>


    <div class="container-ms" id="cuerpo">
        <div class="informacion">
            <div style="background-color: white;" class="jumbotron">
              <div class="container-sm" id="cuerpo">


                    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate rem ducimus laudantium
                        repudiandae</h2>

                    <p class="container-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, ipsam illo.
                        Neque
                        libero natus ipsa voluptatem vitae aut reprehenderit enim, illo atque culpa odio iure et,
                        quae ipsum quaerat corporis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eius eveniet quisquam
                        repellat optio nemo facilis maiores cum fugiat officiis, aspernatur reiciendis mollitia
                        itaque sapiente eaque architecto illum voluptatibus rerum.</p>



                    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate rem ducimus laudantium
                        repudiandae</h2>
                    <p class="container-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, ipsam illo.
                        Neque
                        libero natus ipsa voluptatem vitae aut reprehenderit enim, illo atque culpa odio iure et,
                        quae ipsum quaerat corporis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eius eveniet quisquam
                        repellat optio nemo facilis maiores cum fugiat officiis, aspernatur reiciendis mollitia
                        itaque sapiente eaque architecto illum voluptatibus rerum.</p>



                    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate rem ducimus laudantium
                        repudiandae</h2>

                    <p class="container-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, ipsam illo.
                        Neque
                        libero natus ipsa voluptatem vitae aut reprehenderit enim, illo atque culpa odio iure et,
                        quae ipsum quaerat corporis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eius eveniet quisquam
                        repellat optio nemo facilis maiores cum fugiat officiis, aspernatur reiciendis mollitia
                        itaque sapiente eaque architecto illum voluptatibus rerum.</p>


            </div>

            </div>


        </div>


    </div>
    <footer>
      <section class="alinearLis">
        <div class="container-sm" id="cuerpo">
            <nav class="navbar navbar-expand-md navbar-dark ">
                <div>
                    <ul class="navbar-nav ml-auto " style="padding-left: 110%; padding-bottom: 10%;">
                        <li class="nav-item ">
                            <a class="nav-link " href="#"><i class='fab fa-twitter-square'
                                    style='font-size:70px; color:black'></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class='fab fa-facebook'
                                    style='font-size:70px; color:black'></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class='fab fa-github'
                                    style='font-size:70px; color:black'></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <h5>Copyright © Your Website 2020</h5>
        </div>
    </section>

    </footer>


</body>
</html>


<router-outlet></router-outlet>
