<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Medio Ambiente</title>




</head>

<body>

  <header class="Encabezado">
    <section class="alinearLis posicion">
      <nav class="navbar navbar-expand-md navbar-dark marg">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto estiloVar">
            <li class="nav-item">
              <a style="color: white;" class="nav-link boton-menu" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a style="color: white; margin-left: 10px;" class="nav-link boton-menu" routerLink="/sideBar">PERFIL</a>
            </li>
            <li class="nav-item">
              <a style="color: white; margin-left: 10px;" class="nav-link boton-menu" routerLink="/login">LOGIN</a>
            </li>

          </ul>
        </div>
      </nav>

    </section>
    <section class="margT">
      <h1 class="display-1 titulo">Eficacia de los tratamientos basados en Mindfulness para trastornos de ansiedad
        generalizada en etapa adulta.</h1>


    </section>
  </header>

  <section style="background-color: rgba(224, 221, 221, 0.116);" class="alinearCu">


    <div class="container-sm shadow-sm" id="cuerpo">

      <section class="contenedor sobre-nosotros ">

        <div style="align-items: center;" class="contenedor-sobre-nosotros">
          <img src="../../assets/img/Mes-de-la-psicologia-online.jpg" alt="" class="imagen-about-us ">
          <div class="contenido-textos">
            <p style=" padding: 20px;">El presente blog tiene como objetivo informar acerca de la eficacia de los
              tratamientos basados en
              Mindfulness en los trastornos de ansiedad generalizada en la adultez,
              Para ello se realizó una revisión bibliográfica de tipo retrospectiva, también se redactó un análisis
              crítico de los resultados obtenidos en la revisión de la literatura.
              Los resultados sugieren que los tratamientos basados en Mindfulness es un método viable y eficaz para el
              trastorno de ansiedad generalizada en personas que se encuentran en la adultez, además de generar
              cambios positivos y brindar beneficios a aquellos que hagan uso del mismo</p>

          </div>
        </div>

      </section>


      <hr>
      <section class="seccion-tarjetas">
        <div class="container-sm cuerpoCars">

          <div class="container-sm cuerpoCars" >
            <div class="card tarjetas shadow p-3 mb-5 bg-white rounded" style="width: 18rem; "  *ngFor="let tarjeta of tarjetas" >
              <img class="card-img-top" src="../../assets/img/102291825_590345768252505_2729692350740692992_n.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">{{tarjeta.imagenP}}</h5>
                <p class="card-text">{{tarjeta.textoB}}</p>
                <a style="padding: 5px;" href="#" class="btn btn-secondary">Leer Mas</a>
              </div>
            </div>
          </div>

        </div>


      </section>






    </div>

  </section>





</body>

</html>
